:root {
  --primary-colour: black;
  --background-colour: #6e8e7d;
  --secondary-background-colour: #faf6f1;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  text-align: center;
  color: var(--primary-colour);
  margin: 0 auto;
  padding: 5px;
}
h1 {
  font-size: 90px;
}

h2 {
  font-size: 20px;
  opacity: 0.7;
  font-weight: 500;
  line-height: 2;
}

a {
  text-decoration: none;
  display: block;
  text-align: center;
}

p {
  display: block;
  text-align: center;
  margin: 40px;
}

footer {
  text-align: center;
  font-size: 12px;
  background-color: var(--background-colour);
  color: white;
}

.navbar-green {
  background-color: #6e8e7d;
}

img {
  display: block;
  width: 400px;
  height: 400px;
}

.hero {
  text-align: center;
  padding: 160px 20px;
}

.fa-linkedin,
.fa-instagram,
.fa-envelope {
  font-size: 25px;
  margin: 0 5px;
  padding: 10px;
}

.btn-branding {
  padding: 15px 30px;
  background-color: #6e8e7d;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  font-weight: 300;
}
