:root {
  --primary-colour: black;
  --background-colour: #6e8e7d;
  --secondary-background-colour: #faf6f1;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--primary-colour);
  margin: 0 auto;
  padding: 5px;
}
h1 {
  font-size: 90px;
}

h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}

a {
  text-decoration: none;
  display: block;
}

.navbar-green {
  background-color: #6e8e7d;
}

.navbar-brand,
.nav-link {
  font-weight: 300;
}
.nav-bar:hover {
  color: blue;
}

.about-me,
.contact-me,
.project {
  color: var(secondary-colour);
  text-decoration: none;
}

.homepage-link,
.email-link {
  text-align: center;
  display: block;
  color: var(--primary-colour);
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.homepage-link {
  margin: 0 auto;
  padding: 10px;
}

img {
  display: block;
  width: 400px;
  height: 400px;
}
