:root {
  --primary-colour: black;
  --background-colour: #6e8e7d;
  --secondary-background-colour: #faf6f1;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 50px;
  text-align: left;
}

h4 {
  font-size: 48px;
}

a {
  text-decoration: none;
}
p {
  font-size: 16px;
  line-height: 30px;
}
footer {
  margin: 60px 0;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--background-colour);
}

#profile-pic {
  display: block;
  max-width: 480px;
}

.navbar-green {
  background-color: #6e8e7d;
}

footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  color: #6e8e7d;
  transition: all 150ms ease-in-out;
  font-size: 20px;
}

footer .social-links a:hover {
  margin: 0 20px;
  padding: 10px 14px;
  color: white;
  font-size: 20px;
  background-color: #6e8e7d;
}

footer .git-link {
  color: black;
}

footer .contact-box {
  padding: 30px 120px;

  margin: 30px;
}

footer .contact-box p {
  margin: 0;
}

.btn-branding {
  padding: 15px 30px;
  background-color: #6e8e7d;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  font-weight: 300;
}

.btn-outline {
  padding: 15px 30px;
  border: 1px solid #6e8e7d;
  border-radius: 4px;
  color: #6e8e7d;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  font-weight: 300;
}
.project-description {
  padding: 10px 60px;
}

@media (max-width: 576px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 65px;
  }
  h2 {
    font-size: 44px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }

  nav a {
    text-align: center;
  }

  footer.contact-box {
    padding: 30px;
  }

  h4 {
    font-size: 18px;
  }

  .btn-branding {
    display: block;
    text-align: center;
  }
}

.content-container {
  padding: 60px 20px;
  background-color: var(--secondary-background-colour);
  text-align: center;
}
.logo-container,
.about-container {
  padding: 60px 20px;
  background-color: var(--secondary-background-colour);
  margin: 50px;
}

.work-container {
  padding: 60px 20px;
  margin: 50px;
}

.logo-container img {
  max-height: 80px;
}

.content h1 {
  font-size: 46px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
}
.content {
  margin: 30px;
}
.content li,
.content p {
  font-size: 14px;
  margin: 0;
}

.content a {
  color: black;
}

.content a:hover {
  color: var(--background-colour);
}

.content li a {
  font-size: 14px;
  margin: 0;
  text-decoration: underline;
}
